/* C to the S to the S */
@import 'keyframe.css';

* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

body {
    background: #f9f9f9 url('../img/subtle_dots.png') repeat;
    color: #222;
    
    font: 15px/24px "Bitstream Vera Sans Mono", "Anonymous Pro", "Consolas", monospace;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
    letter-spacing: -0.01em;
}

ul.content {
    list-style: none;
    position: absolute;
    left: 130px;
    top: 10%;
    width: 50%;
}

.right-top {
    position: absolute;
    right: 130px;
    top: 10%;
    width: 50%;
    text-align: right;
}

.right-bottom {
    position: absolute;
    right: 130px;
    bottom: 10%;
    width: 40%;
    text-align: right;
}

ul li {
    padding: 10px 0;
}

#first-line {
    font-size: 22px;
}

.text-heading {
    font-size: 22px;
}

.mt-3 {
    margin-top: 3vh;
}

.rounded {
    border-radius: 50%;
}

.rounded-15 {
    border-radius: 15%;
}

a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
    /* border-bottom: 1px dotted #ccc;
    background: #111;*/
    color: #fff;
}

.typing {
    position: relative;
    display: inline-block;
    width: 8px;
    text-indent: -999em;
    background: #ccc;
    -webkit-animation: flick 1s infinite;
    -moz-animation: flick 1s infinite;
    -ms-animation: flick 1s infinite;
    -o-animation: flick 1s infinite;
    animation: flick 1s infinite;
}

.arrow {
    background: url('../img/arrow.png') no-repeat;
    width: 235px;
    height: 110px;
    top: 48%;
    margin-top: 195px;
    position: absolute;
    left: -108px;
    -webkit-animation: arrow 56s 1;
    -moz-animation: arrow 56s 1;
    -ms-animation: arrow 56s 1;
    -o-animation: arrow 56s 1;
    animation: arrow 56s 1;
}

.social-links {
    position: absolute;
    left: 130px;
    top: 0%;
    margin-top: 270px;
    -webkit-animation: logo 55s 1;
    -moz-animation: logo 55s 1;
    -ms-animation: logo 55s 1;
    -o-animation: logo 55s 1;
    animation: logo 55s 1;
}

.contact-details {
	position: absolute;
	right: 75px;
	bottom: 10%;
	z-index:1001;
	text-align: right;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a.thejibe {
    width: 22px;
}

.social-links li a.thejibe:hover {
    background-position: 0 -30px;
}

.social-links li a.twitter {
    background-position: -55px 0;
    width: 20px;
}

.social-links li a.twitter:hover {
    background-position: -55px -30px;
}

.social-links li a.facebook {
    background-position: -79px 0;
    width: 14px;
}

.social-links li a.facebook:hover {
    background-position: -79px -30px;
}

.social-links li a.linkedin {
    background-position: -28px 0;
    width: 20px;
}

.social-links li a.linkedin:hover {
    background-position: -28px -30px;
}

.social-links li a.soundcloud {
    background-position: -98px 0;
    width: 21px;
}

.social-links li a.soundcloud:hover {
    background-position: -98px -30px;
}

.social-links li a.mixcloud {
    background-position: -120px 0;
    width: 31px;
}

.social-links li a.mixcloud:hover {
    background-position: -120px -30px;
}



/*.dollar:before {
    content: '$';
    padding-right: 20px;
    
    color: #50657b;
}*/

@media (max-width: 550px) {
    body {
        font-size: 15px;
        min-height: 530px;
    }
    ul.content {
        width: 80%;
        top: 20%;
        left: 10%;
        min-width: 290px;
    }
    div.social-links {
        top: inherit;
        bottom: 20px;
        margin-top: 0px;
        left: 10%;
    }
    div.social-links ul {
        width: 235px;
        left: 10%;
    }
    li.facebook-like {
        display: none;
    }
    .arrow {
        display: none !important;
    }
}